<div class="col-sm-4">
 <h3 class="cust-page-heading">
   Search Results
 </h3>
</div>

<div class="col-sm-8">
  <ul class="nav nav-pills pull-right">
    <li role="presentation" class="<%= @customers ? "active" : nil %>">
      <%= link_to "Customers", search_path(q: @search_term, type: "customers") %>  
    </li>
    <li role="presentation" class="<%= @contacts ? "active" : nil %>">
      <%= link_to "Contacts", search_path(q: @search_term, type: "contacts") %>  
    </li>
    <li role="presentation" class="<%= @tasks ? "active" : nil %>">
      <%= link_to "Ticket Title/Description", search_path(q: @search_term, type: "tasks") %>  
    </li>
    <li role="presentation" class="<%= @workentries ? "active" : nil %>">
      <%= link_to "Time Entries/Internal Notes", search_path(q: @search_term) %>  
    </li>       
  </ul>
</div>

<div class="col-sm-12 search-results">
  <% if @customers %>
    <% if @customers.any? %>
      <%= render partial: "shared/customers", locals: {customers: @customers} %>
      <div class="text-center">
        <%= will_paginate @customers, renderer: BootstrapPagination::Rails %>
      </div>
    <% else %>
      <h3 class="text-center">¯\_(ツ)_/¯ No customers match that search...</h3>
    <% end %>
  <% end %>

  <% if @contacts %>
    <% if @contacts.any? %>
      <%= render partial: "shared/contacts", locals: {contacts: @contacts} %>
      <div class="text-center">
        <%= will_paginate @contacts, renderer: BootstrapPagination::Rails %>
      </div>
    <% else %>
      <h3 class="text-center">¯\_(ツ)_/¯ No contacts match that search...</h3>
    <% end %>
  <% end %>

  <% if @tasks %>
    <% if @tasks.any? %>
      <%= render partial: "search/task", collection: @tasks, locals: {search_term: @search_term} %>
      <div class="text-center">
        <%= will_paginate @tasks, renderer: BootstrapPagination::Rails %>
      </div>
    <% else %>
      <h3 class="text-center">¯\_(ツ)_/¯ No Ticket Titles or Descriptions match that search...</h3>
    <% end %>
  <% end %>

  <% if @workentries %>
    <% if @workentries.any? %>
      <%= render partial: "search/workentry", collection: @workentries, locals: {search_term: @search_term} %>
      <div class="text-center">
        <%= will_paginate @workentries, renderer: BootstrapPagination::Rails %>
      </div>
    <% else %>
      <h3 class="text-center">¯\_(ツ)_/¯ No Time Entries or Internal Notes match that search...</h3>
    <% end %>
  <% end %>      
  
</div>