<div class="panel panel-default">
  <div class="panel-heading">
    <span class="label label-default pull-right"><%= task.tnumber %></span>
    <strong>
      <%= link_to task_path(task.id) do  %>
        <%= highlight(task.tasktitle, search_term) %>
      <% end %>
    </strong>
  </div>

  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Customer</dt>
      <dd><%= task.customer.custname %>
      </dd>
    
      <% if task.contact %>
        <dt>Contact</dt>
        <dd>
          <%= task.contact.firstname.titleize %> 
          <%= task.contact.lastname.titleize %>
        </dd>
      <% end %>

      <% unless task.description.blank? %>
        <dt>Description</dt>
        <dd>
          <%= highlight(simple_format(task.description), search_term) %>
        </dd>
      <% end %>

    </dl>
  </div>
</div>