<div class="col-sm-10">
 <h3 class="cust-page-heading">
   <%= @customer.custname %>
 </h3>
 <address>
   <%= @customer.city %>, <%= @customer.region %>
 </address>
</div>

<div class="col-sm-2">
  <ul class="nav nav-pills">
    <li role="presentation" class="<%= current_page?(tasks_customer_path(@customer.id)) ? "active" : nil %>">
      <%= link_to "Tickets", tasks_customer_path(@customer.id) %>  
    </li>
    <li role="presentation" class="<%= current_page?(contacts_customer_path(@customer.id)) ? "active" : nil %>">
      <%= link_to "Contacts", contacts_customer_path(@customer.id) %>  
    </li>
  </ul>
</div>

<%= render partial: "shared/tasks", locals: {tasks: @tasks} %>

<%= will_paginate @tasks, renderer: BootstrapPagination::Rails %>